/** Setup **/
@import "settings";
@import "variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";


/** Partials **/
@import "part/voting";
html {
  -webkit-font-smoothing: antialiased;
}


html, body {
  height: 100%;
}

#wrap {
  height: auto;
  min-height: 100%;
}

#main {
  overflow: auto;
}

.navbar-toggle {
  .icon-bar {
    background-color: black;
  }
}

